.App {
  text-align: center;
}

body {
  overflow: hidden;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f5f8f9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

div.content {
  margin-left: 20%;
  padding: 1px 16px;
  padding-top: 40px;
  height: calc(100vh - 50px);
  overflow-y: auto;
  width: 78%;
  text-align: justify;
}

div.content p {
  font-size: large;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }

  div.content {
    padding-top: 0px;
    width: 85%;
    height:unset;
    overflow: scroll;
  }

  body{
    overflow: auto;
  }
}
